<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<!-- Favicon -->
<!--<link rel="shortcut icon" type="image/x-icon" href="assets/admin/img/favicon.png">-->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="assets/admin/css/bootstrap.min.css">

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="assets/admin/css/font-awesome.min.css">

<!-- Feathericon CSS -->
<link rel="stylesheet" href="assets/admin/css/feathericon.min.css">

<link rel="stylesheet" href="assets/admin/plugins/morris/morris.css">

<!-- Main CSS -->
<link rel="stylesheet" href="assets/admin/css/style.css">

<!--[if lt IE 9]>
<script src="assets/admin/js/html5shiv.min.js"></script>
<script src="assets/admin/js/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="assets/admin/plugins/dropify/css/dropify.min.css">

<!--custom preloader-->
<link rel="stylesheet" href="assets/css/preloader.css">

<!-- Datatables CSS -->
<!--<link rel="stylesheet" href="assets/admin/plugins/datatables/datatables.min.css">-->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>-->

<link th:rel="stylesheet" th:href="@{assets/plugins/datatable/datatables.css}"/>
