<div class="sidebar" id="sidebar" xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li class="">
                    <a ><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>

                <li>
                    <a th:href="@{/manage-users}"><i class="fe fe-user"></i> <span>Manage Users</span></a>
                </li>

                <li>
                    <a th:href="@{/manage-products}"><i class="fe fe-layout"></i> <span>Manage Products</span></a>
                </li>

                <li>
                    <a th:href="@{/manage-doctors}"><i class="fe fe-user-plus"></i> <span>Manage Doctors</span></a>
                </li>

                <li>
                    <a th:href="@{/manage-patients}"><i class="fe fe-users"></i> <span>Manage Patients</span></a>
                </li>

                <li>
                    <a th:href="@{/manage-orders}"><i class="fe fe-list-order"></i> <span>Manage Orders</span></a>
                </li>

<!--                <li>-->
<!--                    <a href="patient-list.html"><i class="fe fe-user"></i> <span>Manage Prescriptions</span></a>-->
<!--                </li>-->

            </ul>
        </div>
    </div>
</div>